In [8]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [9]:
#call the function
say_hello()

Hello!

In [10]:
#define the function "say_something" so it prints whatever is passed
def say_something(something):
    print(something)

In [11]:
#call the function
say_something("Hello World!")

Hello World!

In [16]:
Jane_says = "Hi, my name is Jane.  I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane.  I'm learning Python!

In [18]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [19]:
#import pandas.
import pandas as pd
#Convert the my_grades to a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [20]:
# change the grades by one letter grade.
my_grades.map({'B' : 'A', 'C' : 'B', 'D' : 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [21]:
#using the format() function.
my_grades = [92.34,84.56, 86.78, 98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [22]:
#convert the numerical grades to a series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [24]:
#format the grades in the series.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object